<mat-table [dataSource]="usuarios">
  <caption></caption>
  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef="" class="action-column-header">
      <button mat-mini-fab color="accent" (click)="onAdd()" aria-label="Cadastrar novo Usuário">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let usuario" class="action-column">
      <button mat-icon-button color="primary" (click)="onEdit(usuario)" aria-label="Editar Usuário">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="onDelete(usuario)" aria-label="Excluir Usuário">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>

  </ng-container>

  <!-- Login Column -->
  <ng-container matColumnDef="login">
    <mat-header-cell *matHeaderCellDef>Login</mat-header-cell>
    <mat-cell *matCellDef="let usuario">{{ usuario.login }}</mat-cell>
  </ng-container>

  <!-- Nome Column -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let usuario">{{ usuario.nome }}</mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef>E-mail</mat-header-cell>
    <mat-cell *matCellDef="let usuario">{{ usuario.email }}</mat-cell>
  </ng-container>

  <!-- Perfil Column -->
  <ng-container matColumnDef="perfil">
    <mat-header-cell *matHeaderCellDef>Perfil</mat-header-cell>
    <mat-cell *matCellDef="let usuario">
      <mat-icon aria-hidden="false" aria-label="Perfil">{{
        usuario.perfil | perfil
        }}</mat-icon>
      {{ usuario.perfil }}
    </mat-cell>
  </ng-container>

  <!-- Senha Column -->
  <ng-container matColumnDef="senha">
    <mat-header-cell *matHeaderCellDef>Senha</mat-header-cell>
    <mat-cell *matCellDef="let usuario">{{ usuario.senha }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>